################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug
/obj
/pak_dr1.Stream.Emulator/obj
